.user-image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--grey-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image-sm {
    width: 2.5rem;
    height: 2.5rem;
}

.user-image.user-image-xl {
    width: 10rem;
    height: 10rem;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
