.user-image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--grey-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image-sm {
    width: 3.2rem;
    height: 3.2rem;
}

.user-image.user-image-xl {
    width: 10rem;
    height: 10rem;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--bg-medium);
}