body {
    min-height: 100vh;
    background-color: var(--bg-dark);
    color: var(--text-color);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.themeBtn{
    display: flex;
    align-items: center;
}
.themeBtn p {
    margin-left: 1rem;
    margin-bottom: 0;
}

.themeBtn.btn-dark {
    color: var(--text-white);
    background-color: var(--bg-black-medium);
}

.themeBtn.btn-light {
    color: var(--text-black);
    background-color: var(--bg-white-medium);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    padding: 2rem 1rem;
    border-top: 1px solid var(--bg-medium);
}

