
@{
    ViewBag.Title = "Index";
}



<h2>Creation user</h2>

<form method="post">
    <input type="text" name="lastName" />
    <br />
    <input type="text" name="firstName" />
    <br />
    <input type="email" name="email" />
    <br />
    <input type="password" name="password" />
    <br />
    <input type="password" name="passwordVerification" />
    <br />
    <input type="submit" name="submitButton" />


</form>