.account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account hr {
    margin: 2rem 0;
}

.account .account-form {
    width: 60%;
    margin: 0 auto;
}

.account h2{
    margin-bottom: 5rem;
}

.account .user-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account .user-image{
    margin-bottom: 1rem;
}

.account .form-group.submitBtn {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.account .note {
    font-weight: bold;
}

.account button.btn.btn-primary{
    margin: 2rem auto 4rem auto;
    display: block;
}

.account p:last-of-type{
    text-align: center;
}

.account .account-form p.error{
    margin-top: 1rem;
}