.Account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Account hr {
    margin: 3rem 0;
}

.Account .account-form {
    width: 60%;
    margin: 0 auto;
}

.Account h2{
    margin-bottom: 5rem;
}

.Account .user-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Account .user-image{
    margin-bottom: 1rem;
}

.Account .form-group.submitBtn {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.Account .note {
    font-weight: bold;
}

.Account button.btn.btn-primary{
    margin: 2rem auto 4rem auto;
    display: block;
}

.Account p:last-of-type{
    text-align: center;
}