.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories h2 {
    text-align: center;
}

.categories-wrapper {
    min-width: 35rem;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-wrapper form {
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-wrapper form h3{
    margin-bottom: 3rem;
}

.categories-wrapper h4 {
    margin-bottom: 2rem;
    text-align: center;
}

.categories-wrapper .form-group{
    grid-template-columns: 1fr 2fr max-content;
    margin-bottom: 0;
}

.categories-wrapper p.error {
    grid-column: span 3;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.categories-list {
    width: max-content;
    margin: 0 auto;
}

.categorie-name {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}

.categories-delete {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--secondary-medium);
    transition: all .2s ease;
}

.categories-delete.disabled {
    background-color: var(--grey-dark);
}

.categories-delete:not(.disabled):hover {
    transform: translateY(-2px);
    background-color: var(--error);
}

