.themeBtn {
    display: flex;
    align-items: center;
}

.themeBtn p {
    margin-left: 1rem;
    margin-bottom: 0;
}

.themeBtn.btn-dark {
    color: var(--text-white);
    background-color: var(--bg-black-medium);
}

.themeBtn.btn-light {
    color: var(--text-black);
    background-color: var(--bg-white-medium);
}

.btn{
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.btn.btn-primary {
    background-color: var(--primary-medium);
    color: white;
    border: 2px solid var(--primary-dark);
    transition: all .2s ease;
}

.btn.btn-primary:hover{
    background-color: var(--primary-light);
}

.btn.btn-secondary {
    background-color: var(--secondary-medium);
    color: white;
    border: 2px solid var(--secondary-dark);
    transition: all .2s ease;
}

.btn.btn-secondary:hover {
    background-color: var(--secondary-light);
}

.btn.btn-warning {
    background-color: var(--warning-medium);
    color: white;
    border: 2px solid var(--warning-dark);
    transition: all .2s ease;
}

.btn.btn-warning:hover {
    background-color: var(--warning-light);
}

.btn.btn-transparent {
    background-color: var(--bg-dark);
    color: inherit;
    border: 2px solid var(--bg-dark);
    transition: all .2s ease;
}

.btn.btn-transparent:hover {
    background-color: var(--bg-light);
}

.btn.btn-accent {
    background-color: var(--accent-dark);
    color: white;
    border: 2px solid var(--accent-dark);
    transition: all .2s ease;
}

.btn.btn-accent:hover {
    background-color: var(--accent-light);
}


.form-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.2rem 2rem;
    margin-bottom: 3rem;
}

.form-group label {
    text-align: right;
}

.form-group p {
    grid-column: span 2;
}

.modal {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-overlay);
}

.modal-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal-inner p {
    margin-top: 3rem;
    font-weight: bold;
}

.modal-buttons {
    display: flex;
    margin: 5rem auto 0 auto;
}

.modal-buttons > .btn:first-child {
    margin-right: 1.5rem;
}

.logo {
    font-size: 2.5rem;
    font-family: 'Righteous', cursive;
    font-weight: normal;
}

.logo span {
    font-weight: bolder;
    color: var(--primary-medium);
}

@media screen and (max-width: 900px) {
    .form-group {
        grid-template-columns: 1fr;
        gap:  0.5rem 0;
    }

    .navbar .logo {
        font-size: 2rem;
    }

    .form-group * {
        grid-column: 1/2;
    }

    .form-group label{
        text-align: left;
    }

    .modal-inner{
        margin: auto 3rem;
    }
}