.expense-edition-page
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expense-edition-buttons{
    display: flex;
    align-items: center;
}

.expense-edition-buttons button:first-of-type{
    margin-right: 2rem;
}