.expense .row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 4rem;
}

.expense h2 {
    text-align: center;
}

.expense .list-group-item:not(:last-of-type) {
    margin-bottom: 2rem;
}

.expense .list-group-item {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0 1.5rem;
    cursor: pointer;
    transition: all .2s ease;
}

.expense .list-group-item:hover {
    transform: translateY(-2px);
}

.expense .list-group-item:active {
    transform: translateY(1px);
    box-shadow: none;
}


.expense .button {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}

.expense .button:hover{
    color: var(--primary-medium);
}

.expense .button ion-icon {
    margin-right: 1rem;
    font-size: 2rem;
}

.expense img {
    margin-left: auto;
}

.expense .espace {
    font-size: 1.2rem;
}

.expense .category{
    margin-bottom: 3rem;
}

.expense .date {
    font-size: 1rem;
    margin-top: auto;
}

.expense .expense-value {
    font-weight: bold;
    font-size: 2.3rem;
}

.expense .expense-bilan {
    margin: 3rem 3rem;
    text-align: center
}

.expense .span2{
    grid-column: span 2;
}

.expense .expense-graph{
    width: 70%;
    margin: 0 auto;
}

.expense .flex.fixed {
    height: max-content;
    position: sticky;
    top: 2rem;
}

.expense .user-bilan{
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 900px) {
    .expense .row{
        grid-template-columns: 1fr;
    }

    .expense .flex.fixed{
        position: relative;
        order: -1;
        margin-bottom : 10rem;
    }

    .expense .flex a.button{
        position: sticky;
        z-index: 15;
        top: 0;
        padding: 1.5rem 3rem;
        background-color: var(--bg-medium);
        width: 100%;
        text-align: center;
        margin: 0 auto 2rem auto;
    }

    .expense .expense-graph {
        width: 50%;
    }

    .expense .list-group-item h3{
        text-align: left;
    }
}