.expense .row{
    display:flex;
}

.expense .flex{
    flex:1;
}

.expense .flex:first-of-type {
    margin-right: 4rem;
}

.expense h2 {
    text-align: center;
}

.expense a {
    display: block;
    text-align:center;
}


.expense li:not(:last-of-type) {
    margin-bottom: 2rem;
}

.expense li {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0 1.5rem;
}

.expense .button{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expense .button ion-icon{
    margin-right: 1rem;
    font-size: 2rem;
}

.expense img {
    margin-left: auto;
}

.expense .espace {
    font-size: 1.2rem;
}

.expense .category{
    margin-bottom: 3rem;
}

.expense .date {
    font-size: 1rem;
    margin-top: auto;
}

.expense .expense-value {
    font-weight: bold;
    font-size: 2rem;
}

.expense .expense-bilan {
    margin: 3rem 3rem;
    text-align: center
}

.expense .span2{
    grid-column: span 2;
}