.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page h2{
    margin-bottom: 6rem;
}

#login-wrapper {
    min-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-wrapper .confirmMsg{
    margin-bottom: 3rem;
}

.login-page form {
    text-align: center;
}

.login-page form h3{
    margin-bottom: 3rem;
}

.login-page form button {
    display: block;
    margin: 4rem auto 2rem auto;
}

.login-page form a {
    font-size: 1.2rem;
    transition: all .2s ease;
}

.login-page form a:hover {
    color: var(--primary-medium);
}