.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--bg-light);
    height: auto;
}

.nav-content {
    display: flex;
    align-items: center;
}

.navbar-link {
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.navbar-link:not(.btn):hover{
    color: var(--primary-medium);
}

.navbar-link:last-of-type:not(.btn):hover {
    color: var(--secondary-medium);
}

.navbar-link p {
    margin-left: 0.5rem;
}


.navbar-link:not(:first-child) {
    margin-left: 3rem;
}

#mobileNavOpen, #mobileNavClose {
    display: none;
    margin-left: auto;
    font-size: 3rem;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .navbar {
        overflow-x: hidden;
    }
    #mobileNavOpen, #mobileNavClose {
        display: flex;
    }

    #mobileNavClose{
        padding: 0.5rem 2.5rem;
        margin-left: auto;
    }

    body {
        position: relative;
    }

    #nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 80vw;
        background-color: var(--bg-dark);
        transform: translateX(100vw);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        z-index: 100;
        transition: all 0s ease;
    }

    #nav-menu.active {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all .2s ease;
    }

    .nav-content {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        margin-top: 4rem;
    }

    #nav-menu.active {
        transform: translateX(20vw);
        /*display: flex;*/
    }

    .navbar-link:not(:first-child) {
        margin-left: 0rem;
    }

    .navbar-link {
        margin-bottom: 5rem;
        font-size: 2rem;
        grid-column: 2/3;
    }

    .navbar-link p {
        margin-left: 1.5rem;

    }

}