@model WildPay.Models.Group

<div class="modal">
    <div class="box modal-inner">
        <h2>Suppression de groupe</h2>
        <p>Voulez-vous vraiment supprimer le groupe @Utilities.GetPremiereLettreMajuscule(Model.Name) ?</p>
        <div class="modal-buttons">
            <a class="btn btn-transparent" href="@Url.Action("GroupEdit", "Groups", new {groupId = Model.Id})">Retour à l'édition</a>
            <a class="btn btn-warning" href="@Url.Action("ConfirmDeleteGroup", "Groups", new { groupId = Model.Id})">Supprimer</a>
        </div>
    </div>
</div>
