
@{
    ViewBag.Title = "Error";
}

<div class="error-page">
    <h2>Une erreur est survenue...</h2>

    <img src="~/Content/Images/error.png" alt="Erreur" />

    <p>Si l'erreur persiste, merci de la signaler !</p>
</div>

